.divgame {
	position:fixed;
	width:46px;
	height:auto;
	top:50px;
	left:1px; 
	padding:0px;
	background:transparent; 
	border:0px solid transparent; 
	z-index: 100;
}

.spangame {
	display: block;
	float: left;
	padding: 0px;
	text-decoration: none;
}

.ligame {
	list-style-type: none;
	display: inline;
}
