.divgame {
	position:fixed;
	width:46px;
	height:auto;
	top:50px;
	left:1px; 
	padding:0px;
	background:transparent; 
	border:0px solid transparent; 
	z-index: 100;
}

.spangame {
	display: block;
	float: left;
	padding: 5px;
	text-decoration: none;
	background:#222222;
	width:100px;
	border-radius:5px;
	border: 1px solid #444444;
}

.ligame {
	list-style-type: none;
	display: inline;
}

#navgame, #navgame ul { /* all lists */
		padding: 0;
		margin: 0;
		list-style: none;
		float : left;
		width:46px;
	}
	
#navgame li { /* all list items */
		position : relative;
		float : left;
		/*line-height : 1.25em;*/
		margin-bottom : -5px;
		width:46px;
	        border-radius:2px;
	}
	
#navgame li ul { /* second-level lists */
		z-index:101;
		position : absolute;
		left: -999em;
		margin-left : 40px;;
		margin-top : -40px;
	}
	
#navgame li ul ul { /* third-and-above-level lists */
		left: -999em;
	}
	
#navgame li ul ul { /* third-and-above-level lists */
		left: -999em;
	}
	
#navgame li a {
		width: 46px;
		w\idth : 46px;;
		display : block;
		/*color : white;*/
		font-weight : bold;
		font-size:12px;
		text-decoration : none;
		background:transparent; 
		border : 0px solid transparent;
		padding : 0;
	}
	
#navgame li a:hover {
		/*color : white;*/
		background-color : transparent;
	}
	
#navgame li:hover ul ul, #navgame li:hover ul ul ul, #navgame li.sfhover ul ul, #navgame li.sfhover ul ul ul {
		left: -999em;
	}
	
#navgame li:hover ul, #navgame li li:hover ul, #navgame li li li:hover ul, #navgame li.sfhover ul, #navgame li li.sfhover ul, #navgame li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
	}
