
#gameslideout {   
	position: fixed;  
	top: 50px;  
	left: 1;  
	padding:0px;
	background:#2D2F37; 
	border:0px solid transparent; 
	z-index: 100;
	-webkit-transition-duration: 0.3s;  
	-moz-transition-duration: 0.3s;  
	-o-transition-duration: 0.3s;  
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	
}

#gameslideout_inner {  
	position: fixed;  
	top: 50px;  
	left: -250px;  
	width: 250px;
	padding: 5px;
	background:#2D2F37; 
	-webkit-transition-duration: 0.3s;  
	-moz-transition-duration: 0.3s;  
	-o-transition-duration: 0.3s;  
	transition-duration: 0.3s;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}
		
#gameslideout_inner .navgame {
	width: 240px;
	height: auto;
	margin-bottom: 5px;
		}

#gameslideout:hover {  
	left: 250px;
	
} 

#gameslideout:hover #gameslideout_inner {  
	left: 0;
	
}

.divgame {
	position:fixed;
	width:46px;
	height:auto;
	top:50px;
	left:1px; 
	padding:0px;
	background:transparent; 
	border:0px solid transparent; 
	z-index: 100;
}

.spangame {
	display: block;
	float: left;
	margin:0px;
	margin-bottom: 1px;
	padding-left:10px;
	text-decoration: none;
	background:#222222;
	width:75px;
	border-radius:10px;
	border: 1px solid #333333;
}
/*deprecated next version*/
.ligame {
	list-style-type: none;
	display: inline;
}

#navgame, #navgame ul { /* all lists */
		padding: 0;
		margin: 0;
		list-style: none;
		float : left;
		width:46px;
	}
	
#navgame li { /* all list items */
		position : relative;
		float : left;
		/*line-height : 1.25em;*/
		width:46px;
	        border-radius:2px;
	}
	
#navgame li ul { /* second-level lists */
		z-index:101;
		position : absolute;
		left: -999em;
		margin-left : 35px;;
		margin-top : -45px;
	}
	
#navgame li ul ul { /* third-and-above-level lists */
		left: -999em;
	}
	
#navgame li ul ul { /* third-and-above-level lists */
		left: -999em;
	}
	
#navgame li a {
		width: 46px;
		w\idth : 46px;;
		display : inline-block;
		/*color : white;*/
		font-weight : bold;
		font-size:8px;
		text-decoration : none;
		background:transparent; 
		border : 0px solid transparent;
	}
	
#navgame li a:hover {
		/*color : white;*/
		background-color : transparent;
	}
	
#navgame li:hover ul ul, #navgame li:hover ul ul ul, #navgame li.sfhover ul ul, #navgame li.sfhover ul ul ul {
		left: -999em;
	}
	
#navgame li:hover ul, #navgame li li:hover ul, #navgame li li li:hover ul, #navgame li.sfhover ul, #navgame li li.sfhover ul, #navgame li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
	}
