#floatnav {
   position: fixed;
   top: 0;
   left: 0; }

.floatbutton { 
   padding: 5px 5px 5px 5px;
   height: 35px;    
   width: 35px; }

.popoutpanel { 
   margin: -25px 0 0 10px; 
   padding: 10px 20px 15px; 
   width: 600px; 
   background:rgba(0,0,0,0.75);
   border-radius:15px;
}

.gamebox {
	display : inline-block;
	width: 150px;
	margin:5px;
	margin-bottom:-12px;
	float:left;
	max-height: 82px;
	overflow: hidden;
	text-align: center;
}

.gameitem {
   float:left;
   width:150px;
}

.gamelinks{
  display : inline-block;
  font-weight : bold;
  font-size:8px;
  text-decoration : none;
	background:#000; 
	border-radius:15px;
	border: 0px solid transparent;
	width: 146px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}

div.floatbutton { 
   opacity: 0.75; 
   filter:alpha(opacity=75); }

div.floatbutton:hover { 
   opacity: 1; 
   filter:alpha(opacity=100); }

div.floatbutton .popoutpanel { 
   display: none; }

div.floatbutton:hover .popoutpanel { 
   display: inline-block; }

.scrollpanel { 
   height: 400px; 
   overflow-y: auto; }
