.Game_Status_Block {
	float:right;
	margin-top: 8px;
	margin-right:15px;
	padding:0px;
	border:1px solid #444;
 }

.Game_Block {
	padding:2px;
	float: left;
	overflow:visible;
}

.Game_Status, .Server_Status {
	padding: 0;
	display: none;
	height: 12px;
	width: 9px;
	background: url('http://launcher.champions-online.com/static/all/img/server_status.png') no-repeat;
	white-space: nowrap;
}

.Game_Status[data-status=up], .Server_Status[data-status=up] {
	display: inline-block;
	background-position:  -0px 3px;
 }

.Game_Status[data-status=down], .Server_Status[data-status=down] {
	display: inline-block;
	background-position: -18px 3px;
 }

.Game_Status[data-status=mix] {
		display: inline-block;
		background-position: -9px 3px;
 }

.Game_Pop {
	position: absolute;
	z-index: 10;
	margin:-2px 0 0 0;
	padding:3px;
	background:rgba(0,0,0,0.75);
	border:1px solid #444;
	min-width:100px;
 }

div.Game_Block .Game_Pop {
	display:none;
 }

div.Game_Block:hover .Game_Pop {
	display:block;
}

.Game_Pop span {
	opacity:0.5;
}

.Game_Pop ul {
	margin-top:-10px;
 }

.Game_Pop li {
	margin-top:-5px;
	margin-left:10px;
	margin-right:3px;
}